.form2{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: cyan;
}
.form1{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  height: 600px;
  width: 600px;
  background-color: cyan;
}
.form3{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  height: 700px;
  width: 400px;
  background-color: cyan;
}
.label1{
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 24px;
}
.label2{
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}
input[type="surname"],
input[type="name"],
input[type="middle_name"],
input[type="password"],
input[type="phone"],
input[type="login"],
input[type="email"]{
  width: 250px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
}
.button{
  width: 150px;
  height: 30px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgb(97, 180, 222);
  margin-top: 20px;
  cursor: pointer;
  -webkit-box-shadow: -1px 6px 7px -2px rgba(34, 60, 80, 0.32);
-moz-box-shadow: -1px 6px 7px -2px rgba(34, 60, 80, 0.32);
box-shadow: -1px 6px 7px -2px rgba(34, 60, 80, 0.32);
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link{
  text-decoration: none;
  color: black;
}